# Ignorar pastas que contém dados sensíveis 


# Ignorar pastas comumente excluídas em projetos no GitHub 
.vscode
scripts/testes
scripts/testes/*

# Ignorar arquivos com extensões comuns 
*.log
*.lock
*.swp
*.swo
*.swn
*.swo
*.swn
*.swo

# Ignorar chaves SSH presente no projeto
*.pem
*.key
*.pub

# Ignorar arquivos de configuração do sistema operacional
pos-install-linux.code-workspace
